.card
  .card-header External Links
  %ul.list-group.list-group-flush
    %li.list-group-item
      = link_to 'https://steamcommunity.com/groups/brotherhoodgamingassociation', target: '_blank', rel: :noopener do
        = image_tag 'steam/steam-logo.png', width: 32
        Join our Steam Group
    %li.list-group-item
      = link_to 'https://discord.gg/NMUYsK6', target: '_blank', rel: :noopener do
        = image_tag 'discord-logo.png', width: 32
        Join us on Discord